* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLES */

body {
  font: 1.5rem monospace;
  min-height: 100vh;
  color: whitesmoke;
  background-color: #000;
}

div {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: royalblue;
}