@import url("https://fonts.googleapis.com/css?family=inter");

/* HTML RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLES */

body {
  font: 1.5rem inter;
}

header {
  display: flexbox;
}

h1 {
}
