@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* HTML RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --UNSELCOLOR: hsla(0, 0%, 100%, 0.5);
  --SELCOLOR: white;
  --ACCENT1: #f43201;
  --BG: #191919
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLES */

body {
  font-family: "Inter";
  color: white;
  background-color: var(--BG);
  min-height: 100vh;
}

.main {
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 1;
  width: 100%;
  height: 25px;
  padding: 3rem 4rem 3rem 4rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

nav .menu:nth-child(1) {
  margin-right: auto;
}

nav h1 {
  color: var(--UNSELCOLOR);
  transition: 0.2s ease-in-out;
}

nav h1:hover {
  color: var(--SELCOLOR);
  text-shadow: var(--UNSELCOLOR) 0px 0px 2px;
  cursor: pointer;
}

.dark-light-toggle {
  position: sticky;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
  margin: 2rem;
  font-size: 3rem;
  background-color: whitesmoke;
  width: 70px;
  height: 70px;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: black 0px 12px 20px;
  border-radius: 50px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.dark-light-toggle:hover {
  transform: translate(0, -10px);
}

.billboard {
  font-family: "Ringift";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 10vw;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

.pexel {
  font-family: "Pexel";
}

.under {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.outline {
  color: var(--BG);
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: white;
}

.dot {
  color: var(--ACCENT1);
  text-shadow: var(--ACCENT1) 0 0 25px;
}

footer {
  font-size: 1.2rem;
  padding: 2rem;
  justify-content: bottom;
  bottom: 0;
  display: flex;
  min-height: 200px;
  width: 100%;
  background-color: black;
}

.right {
  margin-right: auto;
}

@font-face {
  font-family: Ringift;
  src: url(../assets/fonts/Ringift/Ringift.otf);
}

@font-face {
  font-family: TGR;
  src: url(../assets/fonts/Tan\ Grandeur\ Regular/);
}

@font-face {
  font-family: Pexel;
  src: url(../assets/fonts/PexelGrotesk/PexelGrotesk-Regular.otf);
}