@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* HTML RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --UNSELCOLOR: hsla(0, 0%, 100%, 0.7);
  --TEXT: white;
  --UNTEXT: black;
  --ACCENT: #f43201;
  --BG: #191919;
  --FOOTERTEXT: white;
}

.dark-theme {
  --UNSELCOLOR: hsla(0, 100%, 0%, 0.7);
  --TEXT: black;
  --UNTEXT: #f3f3e8;
  --ACCENT: #f43201;
  --BG: #f3f3e8;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLES */

body {
  font-family: "Inter";
  color: var(--TEXT);
  background-color: var(--BG);
  transition: all 0.2s ease-in-out;
}

main {
  min-height: 200vh;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  z-index: 1;
  width: 100%;
  height: 25px;
  padding: 3rem 4rem 3rem 4rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2 ease-in-out;
  background-color: var(--BG);
  box-shadow: var(--BG) 0px 35px 30px;
}

nav .menu:nth-child(1) {
  margin-right: auto;
}

nav h1 {
  color: var(--UNSELCOLOR);
  transition: 0.2s ease-in-out;
}

nav h1:hover {
  color: var(--TEXT);
  text-shadow: var(--UNSELCOLOR) 0px 0px 2px;
  cursor: pointer;
}

footer {
  font-size: 1.8rem;
  padding: 3rem 4rem 3rem 4rem;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  height: 210px;
  width: 100%;
  background-color: black;
  bottom: 0;
  color: var(--FOOTERTEXT);
}

.floating {
  position: sticky;
  background-color: var(--TEXT);
  width: 70px;
  height: 70px;
  z-index: 1;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
  box-shadow: black 0px 12px 20px;
  color: var(--UNTEXT);
  font-size: 3rem;
  margin: 4rem;
  bottom: 4rem;
  right: 4rem;
  left: 4rem;
  margin-left: auto;
}

.floating:hover {
  transform: translate(0, -10px);
}

.billboard {
  font-family: "Rostemary";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 10vw;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

.pexel {
  font-family: "Pexel";
}

.roste {
  font-family: "Rostemary";
}

.italic {
  font-style: italic;
}

.outline {
  color: var(--BG);
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: var(--TEXT);
}

.dot {
  color: var(--ACCENT);
  text-shadow: var(--ACCENT) 0 0 25px;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.right {
  margin-left: auto;
  text-align: right;
}

p a {
  color: var(--FOOTERTEXT);
  text-decoration: none;
}

.card {
  width: 200px;
  height: 300px;
}

@font-face {
  font-family: Ringift;
  src: url(../assets/fonts/Ringift/Ringift.otf);
}

@font-face {
  font-family: TGR;
  src: url(../assets/fonts/Tan\ Grandeur\ Regular/);
}

@font-face {
  font-family: Pexel;
  src: url(../assets/fonts/PexelGrotesk/PexelGrotesk-Regular.otf);
}

@font-face {
  font-family: Rostemary;
  src: url(../assets/fonts/rostemary/Rostemary.ttf);
}